:root {
  --main-background: hsl(222, 26%, 31%);
  --items-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --redekey-background: hsl(225, 21%, 49%);
  --redekey-shadow: hsl(224, 28%, 35%);
  --Redkey-background: hsl(6, 63%, 50%);
  --red-shadow: hsl(6, 70%, 34%);
  --orange-key-background: hsl(30, 25%, 89%);
  --orange-key-shadow: hsl(28, 16%, 65%);
  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --text-White: white;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 12px;
    height: 6px;
    background-color: transparent
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgba(130, 130, 130, 0.8);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-background);
  padding: 0 20px 0 20px;
  font-family: "Spartan", sans-serif;
  transition: all 350ms ease;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.title__theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-White);
  font-weight: 700;
  transition: all 350ms ease;
}
.theme {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 23px;
  background-color: var(--items-background);
  border-radius: 35px;
  bottom: 8px;
  transition: all 350ms ease;
}
.colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colors p {
  font-weight: 600;
}
.numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.6rem;
  width: 76px;
}
.theme1 , .theme2 , .theme3 {
  opacity: 1;
  width: 10px;
  height: 10px;
  transition: all 350ms ease;
}
.theme1{
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 0;
  bottom: 0;
  height: 14px;
  width: 14px;
  background-color: var(--Redkey-background);
  border-radius: 35px;
  transition: all 350ms ease;
}
.theme2{
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 24px;
  right: 0;
  bottom: 0;
  height: 14px;
  width: 14px;
  background-color: var(--Redkey-background);
  border-radius: 35px;
  transition: all 350ms ease;
}
.theme3{
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 43px;
  right: 0;
  bottom: 0;
  height: 14px;
  width: 14px;
  background-color: var(--Redkey-background);
  border-radius: 35px;
  transition: all 350ms ease;
}

#title {
  font-size: 1.75rem;
}
#theme__title {
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 25px;
  margin-right: 20px;
  position: relative;
  top: 12px;
  font-size: 0.65rem;
}
/*calculator screen*/
#calc__screen {
  background-color: var(--screen-background);
  width: 100%;
  height: 90px;
  border-radius: 10px;
  overflow:scroll;
  overflow-y: hidden;
  transition: all 350ms ease;
}
#calc__no {
  text-align: right;
  padding-right: 30px;
  color: var(--text-White);
  position: relative;
  top: 5px;
  transition: all 350ms ease;
}
.keypad {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--items-background);
  padding: 16px;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 20px;
  height: auto;
  transition: all 350ms ease;
}
.main__btns {
  color: var(--Very-dark-grayish-blue);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 350ms ease;
}
.ckeys {
  background-color: var(--orange-key-background);
  width: 46px;
  height: 40px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 4px var(--orange-key-shadow);
  padding-top: 6px;
  cursor: pointer;
  transition: all 350ms ease;
}
.ckeyso {
  background-color: var(--orange-key-background);
  width: 46px;
  height: 40px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 4px var(--orange-key-shadow);
  padding-top: 6px;
  cursor: pointer;
  transition: all 350ms ease;
}
.rande__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80px;
}
#del {
  color: var(--text-White);
  background-color: var(--redekey-background);
  box-shadow: 0px 4px var(--redekey-shadow);
  font-weight: 500;
  transition: all 350ms ease;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 49px;
  background-color: var(--redekey-background);
  color: var(--text-White);
  border-radius: 5px;
  box-shadow: 0px 4px var(--redekey-shadow);
  padding-top: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: all 350ms ease;
}
.equal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 49px;
  background-color: var(--Redkey-background);
  color: var(--text-White);
  margin-left: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px var(--red-shadow);
  padding-top: 6px;
  cursor: pointer;
  transition: all 350ms ease;
}
.theme1 , .theme2 , .theme3{
  cursor: pointer;
}

@media (min-width: 360px) {
  .ckeys {
    width: 56px;
    height: 50px;
  }
  .ckeyso {
    width: 56px;
    height: 50px;
  }
  .reset {
    width: 130px;
    height: 54px;
  }
  .equal {
    width: 130px;
    height: 54px;
  }
}
@media (min-width: 375px) {
  .ckeys {
    width: 59px;
    height: 53px;
  }
  .ckeyso {
    width: 59px;
    height: 53px;
  }
  .reset {
    width: 135px;
    height: 54px;
  }
  .equal {
    width: 135px;
    height: 54px;
  }
}
@media (min-width: 768px) {
  .title__theme {
    width: 550px;
    margin: auto;
  }
  #calc__screen {
    margin: auto;
    width: 550px;
    height: 119px;
  }
  .keypad {
    width: 513px;
    margin: 20px auto;
    padding: 20px;
  }
  .ckeys {
    width: 102px;
    border-radius: 10px;
    margin: 12px;
    font-size: 1.8rem;
  }
  .ckeyso {
    width: 102px;
    border-radius: 10px;
    margin: 12px;
    font-size: 1.8rem;
  }
  #del {
    font-size: 1.08rem
  }
  .reset {
    width: 230px;
    height: 54px;
    border-radius: 10px;
  }
  .equal {
    width: 230px;
    height: 54px;
    border-radius: 10px;
    font-size: 1.1rem;
  }
  #calc__no {
    font-size: 2.65rem;
  
    top:0;
  }
}
