:root {
  --main-background: hsl(222, 26%, 31%);
  --items-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --redekey-background: hsl(225, 21%, 49%);
  --redekey-shadow: hsl(224, 28%, 35%);
  --Redkey-background: hsl(6, 63%, 50%);
  --red-shadow: hsl(6, 70%, 34%);
  --orange-key-background: hsl(30, 25%, 89%);
  --orange-key-shadow: hsl(28, 16%, 65%);
  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --text-White: white;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.title__theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-White);
  background-color: var(--main-background);
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  padding: 0 20px 0 20px;
}
.theme {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 23px;
  background-color: var(--items-background);
  border-radius: 35px;
  bottom: 8px;
}
.colors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colors p {
  font-weight: 600;
}
.numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.6rem;
  width: 100%;
}
.switch::before {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 0;
  bottom: 0;
  height: 14px;
  width: 14px;
  background-color: var(--Redkey-background);
  content: "";
  border-radius: 35px;
}
input {
  opacity: 0;
  width: 10px;
  height: 10px;
}
#title {
  font-size: 1.5rem;
}
#theme__title {
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 25px;
  margin-right: 20px;
  position: relative;
  top: 12px;
  font-size: 0.65rem;
}
